<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Menu - Pizzeria Oderman</title>
</head>
<body>
    <div class="container">
        <h1>Our Menu</h1>
        <table>
            <thead>
                <tr>
                    <th>Назва піци</th>
                    <th>Опис інгредієнтів</th>
                    <th>Ціна</th>
                </tr>
            </thead>
            <tbody>
                {% for pizza in pizzas %}
                <tr>
                    <td>{{ pizza.name }}</td>
                    <td>{{ pizza.ingredients }}</td>
                    <td>{{ pizza.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>